/*NAVBAR STYLING*/
.navBarLinks{
     height: 10%;
     width: auto;
 }
 #headerbar{
     background-color: blue;
     height: 10%;
     width: auto;
 }
 #navBarDiv{
     height: 4%;
     clear:left;
 }
 #navbar{
     background-color: aquamarine;
     height: 40px;
     width: auto;
     margin-top: 0;
     margin-bottom: 0;
 }
 li{
     display: inline;
     float: left;
     margin-right: 8%;
     margin-left: 8%;
     margin-top: 0.5%;
 }
 li > p > a:hover{
     color: red;
 }
 li > p > a{
     text-decoration: none;
     font-size: 18pt;
 }
 li > p > a:active{
     color: blue;
 }
 #logoImage{
     height: 100px;
     width: auto;
 }
 p{
     margin-top: 0;
     margin-bottom: 0;
 }
main{
    width: 75%;
    height: 80%;
    margin: 0 auto;
    background-color: antiquewhite;
}
footer{
    height: 10%;
    background-color: blue;
    width: auto;
}
body{
    background-color: black;
    height: 1000px;
}
#map{
    height: 50%;
    width: auto;
    visibility: visible;
}
#gameTable{
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}
td > img {
    width: 149px;
    height: 208px;
}
td {
    padding-top: 0;
}
tr{
    height: 10%;
}
.signUp{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding-top: 5%;
}
#slides img {
    display: none;
}
#slide {
    height: 250px;
}