/*NAVBAR STYLING*/
.navBarLinks{
     height: 10%;
     width: auto;
 }
 #headerbar{
     background-color: #ff0000;
     height: 10%;
     width: auto;
 }
 @font-face {
     font-family: 'future_socialism';
     src: url(fonts/future_socialism.ttf);
 }
@font-face {
    font-family: 'kremlin';
    src: url(fonts/kremlin.ttf);
}
 #navBarDiv{
     height: 4%;
     clear:left;
 }
 .headerText{
     float: right;
     font-family: 'kremlin', serif;
 }
 #navbar{
     background-color: #ffff00;
     height: 40px;
     width: auto;
     margin-top: 0;
     margin-bottom: 0;
 }
 li{
     display: inline;
     float: left;
     margin-right: 8%;
     margin-left: 8%;
     margin-top: 0.5%;
 }
 li > p > a:hover{
     color: red;
 }
 li > p > a{
     text-decoration: none;
     font-size: 18pt;
     font-weight: bold;
 }
 li > p > a:active{
     color: blue;
 }
 #logoImage{
     height: 100px;
     width: auto;
 }
 p{
     margin-top: 0;
     margin-bottom: 0;
 }
main{
    width: 75%;
    height: 80%;
    margin: 0 auto;
    background-color: antiquewhite;
}
footer{
    height: auto;
    background-color: gray;
    width: auto;
}
.footerText{
    text-align: center;
    color: white;
}
audio{
    display: none;
}
label{
    display: inline-block;
    text-align: right;
}
.footerTextTitle{
    text-align: center;
    color: white;
    font-family: 'future_socialism', serif;
}
body{
    background-color: black;
    height: 1100px;
}
#map{
    height: 50%;
    width: auto;
    visibility: visible;
}
#gameTable{
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}
td > img {
    width: 149px;
    height: 208px;
}
td {
    padding-top: 0;
}
tr{
    height: 10%;
}
.signUp{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding-top: 5%;
}
#slides img {
    display: none;
}
#slide {
    height: 250px;
}